In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_excel("Data_Science.xlsx")

In [4]:
df.head()

,UserId,campaign,realcity,membership,gender,createdAt,Cost Of User Aciquistion,User Life Time Value (LTV)
0,u6Whdqhc9pbfpM2,FB-Device Targetting,Bengaluru,BRONZE,MALE,2018-11-25 17:38:33,100,0
1,PxpmIXN1OIWh4Ne,Organic,Delhi,BRONZE,MALE,2018-12-25 19:19:11,90,80
2,kpGUDDDhKBkwePp,Organic,Mumbai,NaN,MALE,2019-01-15 11:24:56,50,1900
3,BVmM3wUNvspBSrc,Organic,Pune,BRONZE,MALE,2018-04-30 17:17:18,10,1400
4,J9jtLsR52ylRDZ9,Organic,Pune,GOLD,MALE,2018-09-23 10:50:13,80,290

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
UserId                        100 non-null object
campaign                      96 non-null object
realcity                      87 non-null object
membership                    58 non-null object
gender                        100 non-null object
createdAt                     100 non-null datetime64[ns]
Cost Of User Aciquistion      100 non-null int64
User Life Time Value (LTV)    100 non-null int64
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 6.3+ KB

In [6]:
import pandasql as ps

In [7]:
data = ps.sqldf("select * from df;")
data

,UserId,campaign,realcity,membership,gender,createdAt,Cost Of User Aciquistion,User Life Time Value (LTV)
0,u6Whdqhc9pbfpM2,FB-Device Targetting,Bengaluru,BRONZE,MALE,2018-11-25 17:38:33.000000,100,0
1,PxpmIXN1OIWh4Ne,Organic,Delhi,BRONZE,MALE,2018-12-25 19:19:11.000000,90,80
2,kpGUDDDhKBkwePp,Organic,Mumbai,None,MALE,2019-01-15 11:24:56.000000,50,1900
3,BVmM3wUNvspBSrc,Organic,Pune,BRONZE,MALE,2018-04-30 17:17:18.000000,10,1400
4,J9jtLsR52ylRDZ9,Organic,Pune,GOLD,MALE,2018-09-23 10:50:13.000000,80,290
5,XuxQ7HB4MSE3eMI,CPR-B1,Mumbai,None,MALE,2018-12-20 07:10:59.000000,100,234
6,B5Ah0a6gbSdW0sN,referral,None,None,FEMALE,2019-01-02 12:41:00.000000,90,12090
7,B5ADHXCBrham4Yh,FB-airolimindspace-borivali,None,None,FEMALE,2018-12-25 16:45:25.000000,50,0
8,INtl6ZR75QUyz7y,referral,Kolkata,None,MALE,2019-01-20 12:43:36.000000,10,80
9,ylAiQ2lZuO5g1vp,Organic,Hyderabad,BRONZE,MALE,2017-09-01 11:52:18.000000,80,1900
10,eyd5aLusSqA0c3f,referral,Kolkata,None,MALE,2019-01-31 09:08:13.000000,100,1400
11,hF8azvA0BWFyNlg,referral,Kolkata,None,MALE,2019-02-09 17:29:08.000000,90,290
12,ds8yzEX06egUIH4,FB-Device Targetting,Mumbai,BRONZE,MALE,2019-01-14 03:48:15.000000,50,234
13,4FYsTNCkH9TRX8j,event1,Chennai,BRONZE,MALE,2017-12-02 18:37:43.000000,10,23423
14,B5AptFA1YmrQ4Rw,referral,None,None,FEMALE,2019-02-11 10:06:11.000000,80,290
15,aLWYdfa1Kr73FXP,referral,Kolkata,GOLD,FEMALE,2018-09-12 09:36:03.000000,100,234
16,JobSSREfBvqwVhz,Organic,Kolkata,None,MALE,2019-01-02 11:26:25.000000,90,23423
17,B5A7usayVnZx87F,None,None,GOLD,FEMALE,2015-11-25 03:24:36.000000,50,0
18,bBBVSdCJcdeWFJb,Organic,chennai,None,MALE,2019-01-30 19:10:36.000000,10,80
19,WOXgT6oUuBJvrxG,referral,Kolkata,GOLD,FEMALE,2018-08-21 10:26:14.000000,80,1900
20,R8V6kHQSaAfmk75,referral,Kolkata,None,MALE,2018-08-12 16:11:49.000000,100,1400
21,dKkTPwpTW1rftU7,Organic,Hyderabad,BRONZE,MALE,2018-02-07 12:34:40.000000,90,290
22,1pACHaS8EiQReN1,Organic,Mumbai,BRONZE,MALE,2018-06-29 18:44:04.000000,50,234
23,F3OzLeNrNHf4MQu,FB-Kolkata-Bikepool,Kolkata,BRONZE,MALE,2019-02-27 06:54:15.000000,10,2342
24,kYo1qK1E28pJoyO,referral,Kolkata,BRONZE,MALE,2018-06-25 10:52:24.000000,80,0
25,HKr6oVHFyn6VnUu,Mumbai_1% Lookalike_Android (2),Mumbai,BRONZE,MALE,2017-06-02 09:46:16.000000,100,80
26,B5AVSCakEhhBwyf,FB_050119_Pune,None,None,FEMALE,2019-02-05 12:27:02.000000,90,1900
27,hOS9vhtdD8sxaws,event5,Bengaluru,BRONZE,MALE,2018-07-05 13:45:03.000000,50,1400
28,1cITwLemEQkX6iM,None,Chennai,BRONZE,MALE,2018-11-09 04:26:03.000000,10,290
29,j8CY5vrxAXin6TD,referral,Kolkata,GOLD,FEMALE,2018-03-22 07:28:39.000000,80,234
...,...,...,...,...,...,...,...,...
70,0rsKBAPs09oN5h0,Organic,Kolkata,None,MALE,2019-01-27 06:50:43.000000,100,1900
71,HwoYrI4xz40A909,Organic,Kolkata,None,MALE,2019-01-30 12:42:17.000000,90,1400
72,iIJPMW4eNxCm6Dq,Organic,Chennai,BRONZE,MALE,2018-02-15 10:44:35.000000,50,290
73,b5pBMEFjvJLZjPR,event1,Pune,BRONZE,MALE,2019-04-17 08:34:26.000000,10,234
74,7TMfsZpRRSrMD0K,CPR_A1,Pune,GOLD,MALE,2019-02-02 12:39:11.000000,100,8772
75,3K0K9xbf05K9NVh,Organic,Pune,SILVER,MALE,2018-07-17 16:41:15.000000,90,0
76,hPD1iE4fjQxsxyA,Organic,Pune,None,MALE,2018-08-21 05:14:48.000000,50,80
77,j3dfZwC1UqpXhs5,referral,Bengaluru,BRONZE,MALE,2018-08-01 09:13:33.000000,10,1900
78,cPQZJZVTDMzmdSQ,Organic,Hyderabad,BRONZE,MALE,2018-11-13 13:18:42.000000,80,1400
79,nPQaZ0ndeYoZeTV,referral,Hyderabad,BRONZE,FEMALE,2018-06-12 14:37:00.000000,100,290
80,EKtOTDoXY45w7AM,referral,Delhi,BRONZE,FEMALE,2018-09-10 08:37:39.000000,90,234
81,2Wtck8kBWRE049R,Organic,Mumbai,SILVER,FEMALE,2017-12-02 08:43:01.000000,50,283479
82,42SvnlukTqrAEDt,Organic,Hyderabad,GOLD,FEMALE,2018-08-20 13:03:26.000000,10,290
83,kVBn4EFMq46JtUK,referral,Kolkata,None,MALE,2019-01-28 06:53:04.000000,80,234
84,FPsEBL7h7Svpn0a,CPR-B1,Hyderabad,None,MALE,2019-01-02 17:20:11.000000,100,2349080
85,kH7RARMrVSsakMM,referral,Kolkata,None,MALE,2019-01-25 15:05:54.000000,90,0
86,NaF7WlbDuoFTqV2,event1,Chennai,BRONZE,MALE,2018-09-20 09:46:55.000000,50,80
87,2V34MkXtp1aFP5x,referral,Kolkata,None,MALE,2019-01-31 14:25:47.000000,10,1900
88,QDjfNxeya1gaEFA,Organic,Pune,GOLD,MALE,2019-02-25 07:08:59.000000,80,1400
89,RbdeBWe7qyjvM2B,FB_050119_Pune,Pune,None,MALE,2019-02-25 03:20:56.000000,100,290
90,B5AgW4lT7Nn2Rv,FB-Device Targetting,None,None,FEMALE,2019-03-22 17:12:30.000000,90,234
91,2qEKy4okRkX76Aq,referral,Hyderabad,GOLD,FEMALE,2017-11-02 11:00:11.000000,50,234234
92,abPQrfxEHmHeIno,Organic,Hyderabad,SILVER,MALE,2019-04-25 11:52:25.000000,10,0
93,3YMJuiNdQSwDzoL,Playstore-Pune-Aundh,Pune,GOLD,MALE,2018-09-23 13:07:48.000000,80,80
94,lxkaHtB08BTZeU3,Playstore-Mumbai-Growuser1,Mumbai,None,MALE,2018-09-15 08:56:31.000000,100,1900
95,sp4wwCBNJ3UQQDX,referral,Kolkata,None,MALE,2019-01-27 11:10:46.000000,90,1400
96,5OGq3dGgbPAwi0E,CPR-B1,Pune,GOLD,MALE,2019-01-15 17:45:26.000000,50,290
97,7n3c6hhSIrsRhLV,event1,Kolkata,BRONZE,MALE,2018-05-09 07:12:55.000000,10,234
98,UI06JVwdZImwne8,event1,Bengaluru,BRONZE,MALE,2018-08-02 11:30:48.000000,80,234234
99,p9MTT0uhDWEZv6c,Organic,Kolkata,BRONZE,MALE,2018-06-26 09:24:16.000000,40,290

In [8]:
df['created_date'] = df.createdAt.dt.date

### How many people came each day starting from 01-01-2017, make zero if there are none

In [9]:
ps.sqldf("select created_date, count(UserId) from df where created_date >= '2017-01-01' group by created_date")

   created_date  count(UserId)
0    2017-04-08              1
1    2017-06-02              1
2    2017-08-09              1
3    2017-09-01              1
4    2017-10-08              1
5    2017-10-24              1
6    2017-11-02              1
7    2017-12-02              4
8    2017-12-06              1
9    2018-02-07              1
10   2018-02-15              1
11   2018-03-22              1
12   2018-04-30              1
13   2018-05-09              1
14   2018-06-12              1
15   2018-06-25              1
16   2018-06-26              1
17   2018-06-29              1
18   2018-07-02              2
19   2018-07-05              1
20   2018-07-17              1
21   2018-07-25              2
22   2018-08-01              1
23   2018-08-02              2
24   2018-08-12              1
25   2018-08-20              1
26   2018-08-21              2
27   2018-09-06              1
28   2018-09-10              1
29   2018-09-12              1
..          ...            ...
40   2018-12-06              1
41   2018-12-20              1
42   2018-12-25              3
43   2019-01-02              8
44   2019-01-04              1
45   2019-01-14              1
46   2019-01-15              2
47   2019-01-20              1
48   2019-01-25              1
49   2019-01-27              2
50   2019-01-28              1
51   2019-01-30              2
52   2019-01-31              2
53   2019-02-01              1
54   2019-02-02              1
55   2019-02-05              1
56   2019-02-09              1
57   2019-02-11              1
58   2019-02-18              1
59   2019-02-21              1
60   2019-02-25              2
61   2019-02-27              2
62   2019-03-02              3
63   2019-03-11              1
64   2019-03-22              1
65   2019-04-01              1
66   2019-04-15              1
67   2019-04-17              1
68   2019-04-18              1
69   2019-04-25              1

[70 rows x 2 columns]

### What is the total cost of female user acquisition from campaign starting from CPR , FB , Play store for each City?

In [10]:
df.rename(columns = {'Cost Of User Aciquistion':'cost_acq'}, inplace=True)

In [11]:
df.head(10)

,UserId,campaign,realcity,membership,gender,createdAt,cost_acq,User Life Time Value (LTV),created_date
0,u6Whdqhc9pbfpM2,FB-Device Targetting,Bengaluru,BRONZE,MALE,2018-11-25 17:38:33,100,0,2018-11-25
1,PxpmIXN1OIWh4Ne,Organic,Delhi,BRONZE,MALE,2018-12-25 19:19:11,90,80,2018-12-25
2,kpGUDDDhKBkwePp,Organic,Mumbai,NaN,MALE,2019-01-15 11:24:56,50,1900,2019-01-15
3,BVmM3wUNvspBSrc,Organic,Pune,BRONZE,MALE,2018-04-30 17:17:18,10,1400,2018-04-30
4,J9jtLsR52ylRDZ9,Organic,Pune,GOLD,MALE,2018-09-23 10:50:13,80,290,2018-09-23
5,XuxQ7HB4MSE3eMI,CPR-B1,Mumbai,NaN,MALE,2018-12-20 07:10:59,100,234,2018-12-20
6,B5Ah0a6gbSdW0sN,referral,NaN,NaN,FEMALE,2019-01-02 12:41:00,90,12090,2019-01-02
7,B5ADHXCBrham4Yh,FB-airolimindspace-borivali,NaN,NaN,FEMALE,2018-12-25 16:45:25,50,0,2018-12-25
8,INtl6ZR75QUyz7y,referral,Kolkata,NaN,MALE,2019-01-20 12:43:36,10,80,2019-01-20
9,ylAiQ2lZuO5g1vp,Organic,Hyderabad,BRONZE,MALE,2017-09-01 11:52:18,80,1900,2017-09-01

In [12]:
ps.sqldf("select realcity, sum(cost_acq) from (select * from df where substr(campaign,1,3) = 'CPR' or substr(campaign,1,2) = 'FB' or \
                                    substr(campaign,1,9) = 'Playstore')a\
                                    where gender = 'FEMALE' group by realcity")

  realcity  sum(cost_acq)
0     None            290

In [17]:
ps.sqldf("select * from(select * from df where substr(campaign,1,3) = 'CPR' or substr(campaign,1,2) = 'FB' or \
                                    substr(campaign,1,9) = 'Playstore')")

,UserId,campaign,realcity,membership,gender,createdAt,cost_acq,User Life Time Value (LTV),created_date,month
0,u6Whdqhc9pbfpM2,FB-Device Targetting,Bengaluru,BRONZE,MALE,2018-11-25 17:38:33.000000,100,0,2018-11-25,11
1,XuxQ7HB4MSE3eMI,CPR-B1,Mumbai,None,MALE,2018-12-20 07:10:59.000000,100,234,2018-12-20,12
2,B5ADHXCBrham4Yh,FB-airolimindspace-borivali,None,None,FEMALE,2018-12-25 16:45:25.000000,50,0,2018-12-25,12
3,ds8yzEX06egUIH4,FB-Device Targetting,Mumbai,BRONZE,MALE,2019-01-14 03:48:15.000000,50,234,2019-01-14,1
4,F3OzLeNrNHf4MQu,FB-Kolkata-Bikepool,Kolkata,BRONZE,MALE,2019-02-27 06:54:15.000000,10,2342,2019-02-27,2
5,B5AVSCakEhhBwyf,FB_050119_Pune,None,None,FEMALE,2019-02-05 12:27:02.000000,90,1900,2019-02-05,2
6,AY66rr1B5kxi0Xz,CPR-B1,Hyderabad,None,MALE,2018-12-25 05:28:41.000000,80,0,2018-12-25,12
7,B5A3hUiOS7c0cba,CPR-B1,None,GOLD,FEMALE,2019-02-18 12:33:30.000000,10,290,2019-02-18,2
8,B5AN9fane0lv2hF,CPR_ A1,None,None,FEMALE,2019-01-02 11:26:25.000000,50,80,2019-01-02,1
9,QlvMDcrooZGowhA,Playstore-HD-Delhi-sec5 Rohini,Delhi,None,MALE,2018-10-26 09:13:50.000000,80,1400,2018-10-26,10
10,96S1VyTXPJlR3S7,FB-iOS-Int-170219,Chennai,None,MALE,2019-03-11 03:35:55.000000,90,1400,2019-03-11,3
11,AmPWmYcLoyzzZ7R,Playstore-EcommercePurchase-ReviewCompleted,Kolkata,None,MALE,2019-04-15 08:14:19.000000,10,234,2019-04-15,4
12,7TMfsZpRRSrMD0K,CPR_A1,Pune,GOLD,MALE,2019-02-02 12:39:11.000000,100,8772,2019-02-02,2
13,FPsEBL7h7Svpn0a,CPR-B1,Hyderabad,None,MALE,2019-01-02 17:20:11.000000,100,2349080,2019-01-02,1
14,RbdeBWe7qyjvM2B,FB_050119_Pune,Pune,None,MALE,2019-02-25 03:20:56.000000,100,290,2019-02-25,2
15,B5AgW4lT7Nn2Rv,FB-Device Targetting,None,None,FEMALE,2019-03-22 17:12:30.000000,90,234,2019-03-22,3
16,3YMJuiNdQSwDzoL,Playstore-Pune-Aundh,Pune,GOLD,MALE,2018-09-23 13:07:48.000000,80,80,2018-09-23,9
17,lxkaHtB08BTZeU3,Playstore-Mumbai-Growuser1,Mumbai,None,MALE,2018-09-15 08:56:31.000000,100,1900,2018-09-15,9
18,5OGq3dGgbPAwi0E,CPR-B1,Pune,GOLD,MALE,2019-01-15 17:45:26.000000,50,290,2019-01-15,1

### Find top five months where cost of campaigns where highest.

In [14]:
df['month'] = pd.to_datetime(df['created_date']).dt.month

In [15]:
df1 = df.copy()
df1.drop(columns = ['UserId'], inplace=True)

In [16]:
ps.sqldf("select month, sum(cost_acq) from df1 group by month order by sum(cost_acq) desc limit 5")

   month  sum(cost_acq)
0      1           1450
1      2            840
2     11            730
3      9            720
4     12            540